* {
  font-family: 'Sorts Mill Goudy', serif;
}

  /* HEADER */

#logo {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
background-color: #EFEFEF;
}

img.diceImg {
  height: 40px;

}

#roller {
  padding: 0 25px;
}

tr td img {
  max-width: 75px;
}

tr{
  line-height: .5em;
  padding: 0px;
}
#buttons {
  margin-top: 35px;
}

a.btn {
  margin: 5px 0;
  width: 100%;
}

#results {
  height: 500px;
}

#title {
   padding: 20px;
 }

/*textarea {
  width: 100%;
  height: 100%;
}*/

.tabs .tab a{
  color: black;
}

.tabs .tab a:hover{
  color: white;
}

.tabs .indicator {
  background-color: black;
}

input[type=text] {
  max-width: 25px;
}



textarea {
  min-height: 445px;
  border: none;
  /*background-color: #D6CCA9;*/
  /*font-family: fantasy;*/
}

textarea {
  min-width: 100%;
  min-height: 445px;
  padding-left: 25px;
  /*font-size: 20px;*/
}

td {
  padding: 0px;
  height: 0px;
}

#player2text, #player3text, #player4text, #player2t, #player3t, #player4t {
  display: none;
}

#diceRoll {
  margin-top: 170px;
}

/*
.container2{
  margin:80px auto;
  width: 60px;
  height: 60px;
  position:relative;
  transform-origin:center bottom;
  animation-name: flicker;
  animation-duration:3ms;
  animation-delay:200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flame{
  bottom:0;
  position:absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform:rotate(-45deg) scale(1.5,1.5);
}

.yellow{
  left:15px;
  width: 30px;
  height: 30px;
  background:gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.orange{
  left:10px;
  width: 40px;
  height: 40px;
  background:orange;
  box-shadow: 0px 0px 9px 4px orange;
}

.red{
  left:5px;
  width: 50px;
  height: 50px;
  background:OrangeRed;
  box-shadow: 0px 0px 5px 4px OrangeRed;
}

.white{
  left:15px;
  bottom:-4px;
  width: 30px;
  height: 30px;
  background:white;
  box-shadow: 0px 0px 9px 4px white;
}

.circle{
  border-radius: 50%;
  position:absolute;
}

.blue{
  width: 10px;
  height: 10px;
  left:25px;
  bottom:-25px;
  background: SlateBlue;
  box-shadow: 0px 0px 15px 10px SlateBlue;
}

.black{
  width: 40px;
  height: 40px;
  left:10px;
  bottom:-60px;
  background: black;
  box-shadow: 0px 0px 15px 10px black;
}

@keyframes flicker{
  0%   {transform: rotate(-1deg);}
  20%  {transform: rotate(1deg);}
  40%  {transform: rotate(-1deg);}
  60%  {transform: rotate(1deg) scaleY(1.04);}
  80%  {transform: rotate(-2deg) scaleY(0.92);}
  100% {transform: rotate(1deg);}
}

@import url(https://fonts.googleapis.com/css?family=Akronim);

.fire {
	margin: 20px auto;
	width: 80%;
	max-width: 1000px;
	height: 200px;
	font-family: fantasy;
	overflow: hidden;
    text-align: center;
	vertical-align: middle;
}
.fire:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.Blazing {
	display: inline-block;
	margin: 0;

    color: rgb(255, 115, 0);
    font-size: 66px;
	line-height: 50px;
	min-width: 50px;
	outline: none;
	vertical-align: middle;

	text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
	animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
	0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
	25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
		0 0 20px orange,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow; }
	50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		3px -5px 5px yellow,
		-4px -10px 10px yellow,
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
}*/
